body{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.logo {
  width: 300px;
  margin-top: 5%;
}
.titolo{
  font-size: 50px;
 color: lime;
}

.tendinanera {
    background: #000000;
    opacity: 0.7;
  margin: 0 15%;
   border-radius: 10px 10px 10px 10px;
}
.navigazione {
margin: auto;

height: 50px;
background-color: lime;
}

.descrizione{
text-align: left;
color: white;
font-family: sans-serif;
}

.scelta1{
  display: inline-block;
}
.scelta2 {
  display: inline-block;
}
.scelta3 {
  display: inline-block;
}
.progress-bar1{
  background-color: orange;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  margin-left: 0;
}
.progress-bar2{
  background-color: green;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  margin-left: 0;

}
.progress-bar3{
  background-color: red;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  margin-left: 0;
}
footer{
  color: white;
}
